/* Para atacar um id usamos '#'. O sinal de maior significa que apenas div filha será chamada
*/

#div1 > h1{
	color: red;
}

/* Para atacar uma classe usamos '.' */

.div2 h1{
	color: orange;
}

/* Usamos id quando não queremos repetir uma marcação, e classes para quando vamos usar mais de uma marcação */

/*Resetando documentos*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}